html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    height: 100vh;
    background-color: #fff;
}

.con {
    width: 1920px;
}

@media (min-width:1900px) {
    body {
        overflow-x: hidden;
    }
}

::-webkit-scrollbar-track {
    background-color: #f5f5f577;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f577;
}

::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 4px;
}

.loading {
    width: 1920px;
    margin: 0 auto;
    height: 100vh;
    background-color: #232323;
    position: relative;
    z-index: 30;
    top: 0;
    left: 0;
}

.loader {
    border: 3px solid rgba(255, 255, 255, .4);
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: load 1.2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes load {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.link:hover {
    background-color: #232323;
}

.link:hover>span {
    color: #fff;
}